<div class="col-md-4"> 


	<div class="pricing1">
	
		<div class="top">
		
			<h2 class="editContent">{{ recipe.name }}</h2>
            {% if recipe.name == "Lemonade" %}
                {% image '@NoIncSimpleStorefrontBundle/Resources/public/images/Lemonade.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            {% endif %}
            {% if recipe.name == "Screwdriver" %}
                {% image '@NoIncSimpleStorefrontBundle/Resources/public/images/Screwdriver.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            {% endif %}
			<p class="price "><b class="editContent">${{ recipe.price }}</b></p>
		
		</div><!-- /.top -->
		
		
		<div class="bottom">
			
			<div class="editContent">
			<span>Ingredients</span>
			<ul>
				{% for recipeIngredient in recipe.recipeIngredients %}
				<li><i>{{ recipeIngredient.quantity }} {{ recipeIngredient.ingredient.measure }}</i> of <b>{{ recipeIngredient.ingredient.name }}</b></li>
                <form action="{{ path('buy_ingredient', {'ingredient_id': recipeIngredient.id}) }}" method="post">
                    <button type="submit" class="btn btn-embossed btn-block btn-primary"><span class="fa"></span>Buy 1 {{ recipeIngredient.ingredient.measure }} for ${{ recipeIngredient.ingredient.price }}</button>
                    <i><h6> {{ recipeIngredient.ingredient.stock }} {{ recipeIngredient.ingredient.measure }}s remaining </h6></i> <br />
                </form>
				{% endfor %}
			</ul>
			</div><!-- /.editContent -->
			
			{% set remainingProducts = recipe.products|length %}
            <form action="{{ path('make_recipe', {'recipe_id': recipe.id}) }}" method="post">
			<button type="submit" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Make One</button>
            </form>
			<span>{{ remainingProducts }} Remaining</span>
			
		</div><!-- /.bottom -->
	
	</div><!-- /.pricing1 -->


</div><!-- /.col-md-4 col -->
